@import "../../VariablesAndMixins.scss";

.header {
    height: 5.625rem;
    box-shadow: $shadow2;
    padding: 0 5.625rem 0 1.875rem;
    background: $black-color ;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: $white-color;

    &__nav {
        width: 77.5rem;
        height: 100%;
        background: $black-color;
        display: flex;
        justify-content: space-between;
        align-items: center;

        &__logo {
            width: 11.125rem;

        }

        &__link {
            color: $white-color;
            text-decoration: none;
            font-weight: 500;
            font-style: normal;
            font-size: 1.5rem;
            line-height: 1.5rem;
        }
    }
}