@import "../../VariablesAndMixins.scss";

.underConstContainer {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2.5rem;

    &__title {
        font-size: 3.125rem;
    }

    &__linkToHome {
        text-decoration: none;
        font-size: 1.875rem;
    }
}